<h3>Contract Details</h3>
<div>
	<a href="#" ng-click="refreshContract(contract.ContractId)"><span class="glyphicon glyphicon-refresh"></span></a>
</div>
<div>
	<p class="input-group">
		<span class="input-group-addon" style="width: 160px; text-align: left">Name</span>
		<input type="text" class="form-control" ng-model="contract.Name" />
	</p>
	<p class="input-group">
		<span class="input-group-addon" style="width: 160px; text-align: left">Position</span>
		<input type="text" class="form-control" ng-model="contract.Position" />
	</p>
	<p class="input-group">
		<span class="input-group-addon" style="width: 160px; text-align: left">Experience</span>
		<input type="text" class="form-control" ng-model="contract.Experience" />
	</p>
	<p class="input-group">
		<span class="input-group-addon" style="width: 160px; text-align: left">Salary</span>
		<input type="text" class="form-control" ng-model="contract.Salary" />
	</p>
</div>
