@{
	ViewBag.Title = "Angular with ASP.NET MVC";
}
<div data-ng-controller="indexViewModel">
	<div class="jumbotron">
		<h1>{{ sessionName }}</h1>
		<h2>Speaker: <b>{{ speakerName }}</b></h2>
		<p class="lead">This site brings together to great platforms for web development.</p>
	</div>

	<div class="row">
		<div class="col-md-8">
			<p>Angular JS is the leading JavaScript-based client framework for web development.</p>
			<p>ASP.NET MVC remains Microsoft's prefered web development framework and HTML delivery platform</p>
			<p>
				When combined, these two platforms can build rich web applications while maintaning great code manageability
				as well as offer great server-side support.
			</p>
		</div>
	</div>
</div>
